/**
 * antd 样式覆盖
 */
.ant-popover-buttons {
  text-align: right;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    padding: 0 16px;
    font-size: 16px !important;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ant-table {
    font-size: 14px !important;
    color: #333 !important;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
}
.ant-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.15;
    padding: 0 15px;
    font-size: 14px !important;
    border-radius: 4px;
    height: 28px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}