@charset "utf-8";

//color
.g-black {
    color: #333;
}

.g-white {
    color: #ffffff;
}

.g-light-white {
    color: #f5f5f5;
}

.g-gray {
    color: #666
}

.g-blue {
    color: #108ee9;
}

//background-color
.g-bg-white {
    background-color: #ffffff;
}
.g-bg-light-white {
    background-color: #f5f5f9;
}