@charset "utf-8";
.g-fs-20 {
    font-size: 20px;
}
.g-fs-22 {
    font-size: 22px;
}
.g-fs-24 {
    font-size: 24px;
}
.g-fs-26 {
    font-size: 26px;
}
.g-fs-28 {
    font-size: 28px;
}
.g-fs-30 {
    font-size: 30px;
}
.g-fs-32 {
    font-size: 32px;
}
.g-fs-34 {
    font-size: 34px;
}
.g-fs-36 {
    font-size: 36px;
}
.g-fs-38 {
    font-size: 38px;
}
.g-fs-40 {
    font-size: 40px;
}
.g-fs-50 {
    font-size: 50px;
}
.g-fs-60 {
    font-size: 60px;
}