/**
 * flex布局样式
 */

.g-flex {
    display: flex;
    align-items: center;
}

.g-flex-cc {
    @extend .g-flex;
    justify-content: center;
}

.g-flex-column {
    @extend .g-flex;
    flex-direction: column;
}

.g-col-1 {
    flex: 1;
}

/**
 * justify-content
 */
.g-jc-c {
    justify-content: center;
}

.g-jc-sb {
    justify-content: space-between;
}

.g-jc-sa {
    justify-content: space-around;
}

.g-jc-end {
    justify-content: flex-end;
}

.g-jc-start {
    justify-content: flex-start;
}

/**
 * align-items
 */
.g-align-start {
    align-items: flex-start;
}

.g-align-end {
    align-items: flex-end;
}

.g-align-center {
    align-items: center;
}

/**
 * text-align
 */
.g-text-c {
    text-align: center;
}
.g-text-l {
    text-align: left;
}
.g-text-r {
    text-align: right;
}


