@charset "utf-8";

// padding
.g-pd {
    padding: 20px !important;
}
.g-pd-s {
    padding: 10px !important;
}
.g-pd-lr {
    padding: 0 20px !important;
}
.g-pd-lr-10 {
    padding: 0 10px !important;
}
.g-pd-tb {
    padding: 20px 0 !important;
}
.g-pd-tb-10 {
    padding: 10px 0 !important;
}
.g-pd-l {
    padding-left: 20px !important;
}
.g-pd-l-10 {
    padding-left: 10px !important;
}
.g-pd-r {
    padding-right: 20px !important;
}
.g-pd-r-10 {
    padding-right: 10px !important;
}

// margin
.g-m {
    margin: 20px !important;
}
.g-m-lr {
    margin: 0 20px !important;
}
.g-m-lr-10 {
    margin: 0 10px !important;
}
.g-m-tb {
    margin: 20px 0 !important;
}
.g-m-tb-10 {
    margin: 10px 0 !important;
}
.g-m-l {
    margin-left: 20px !important;
}
.g-m-l-10 {
    margin-left: 10px !important;
}
.g-m-r {
    margin-right: 20px !important;
}
.g-m-r-10 {
    margin-right: 10px !important;
}
.g-m-r-8 {
    margin-right: 8px !important;
}
.g-m-b {
    margin-bottom: 20px !important;
}
.g-m-b-10 {
    margin-bottom: 10px !important;
}